.blog-list--container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog-list--container > * {
  text-decoration: none;
  color: #000;
  flex: 0 1 300px;
  /* width: 25%; */
  /* padding: 12px; */
}
.blog-list--container > *:hover {
  color: #000;
}
