.blog-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.blog-details__author {
  flex: 0 1 15%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* background-color: green; */
}
.blog-details__author img {
  width: 99px;
}
.blog-details__author .author {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.buttons button {
  padding: 8px 37px;
  outline: none;
  border: none;
}
.follow-btn {
  border-radius: 35px;
}
.buttons .bookmarks-btn {
  padding: 8px 12px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
.blog-details__article {
  flex: 0 1 60%;
  overflow: hidden;
  text-align: justify;
  /* background-color: red; */
}
.article-image {
  width: 100%;
}
.blog-details__article {
  padding: 0 30px;
}
.blog-details__article .author {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
  /* identical to box height, or 150% */

  color: #2d2d2d;
}
.blog-details__article .secondary-info {
  margin: 0;
}
.blog-details__aside {
  flex: 0 1 25%;
  height: 600px;
  overflow: scroll;
  /* height: 100px; */
  /* background-color: yellow; */
}
