.secondary-info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0 8px;
  text-align: left;
  color: #aebec9;
}
.blog-list--item {
  cursor: pointer;
  margin-bottom: 48px;
}
.blog-list--item .post-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* width: 360px;
  height: 404px; */
}
.blog-list--item p img {
  width: 15px;
  margin-left: 15px;
}
.blog-post {
  font-family: "Nunito", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  padding: 0;
  /* or 133% */

  font-feature-settings: "pnum" on, "lnum" on;
}
