.info_container {
  width: 1200px;
  margin: 0 auto;
}
.profile_info {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
}
.img_info {
  margin-right: 50px;
}
.info_name {
  font-size: 34px;
  margin-bottom: 25px;
  font-weight: bold;
}
.text_info table {
  width: 600px;
}
.text_info td {
  padding: 10px;
  font-size: 16px;
}
.text_info tr:nth-child(odd) {
  background-color: #f6f8f9;
}
.text_info tr:nth-child(even) {
  background-color: #fdfdfd;
}

/* publication block */

.publication {
  margin: 100px 0 250px 0;
}
.publication_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}
.p_image_cnt {
  flex: 0 1 45%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.p_image_cnt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.publication_text {
  width: 570px;
}
.p_header {
  font-size: 30px;
  margin-bottom: 20px;
}
.p_date {
  color: #aebec9;
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 15px;
}
.human_rights {
  color: #2668f7;
}
.p_text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #555555;
}
.read_btn {
  color: white;
  background: #1b5bf7;
  width: 153px;
  border-radius: 8px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
