.top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.top svg,
.top img {
  cursor: pointer;
}
.top .logo {
  object-fit: contain;
}
@media (max-width: 576px) {
  .top img {
    width: 30%;
    object-fit: contain;
  }
}
.top button {
  text-align: center;
  background: #1b5bf7;
  border-radius: 8px;
  padding: 16px 12px;
  border: none;
  font-size: 16px;
  font-family: "Inter";
  line-height: 16px;
  color: #ffffff;
  margin: 0px 10px;
}

.navbar ul {
  padding: 0;
}
.navbar li {
  cursor: pointer;
  display: inline-block;
  margin: 20px 60px 0 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#isActive {
  padding: 8px;
  height: 40px;
  width: 128px;
  background: #1b5bf7;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.history h1 {
  /* margin-top: 51px; */
  line-height: 50px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  /* line-height: 40px; */
  letter-spacing: 0.25px;
  text-align: left;
}
.history img {
  margin: 30px 25px 30px 0;
}
