.footer-container {
  /* position: absolute; */
  margin-top: 300px;
  width: 100%;

  background: #f9f9f9;
}
.footer-container .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-container ul {
  padding: 0;
}
.footer-container li {
  font-family: "Inter" sans-serif;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  margin: 20px 0px;
  max-width: 160px;
}
#th_footer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
}
.footer-info {
  /* width: 400px; */
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
}
.copyright {
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  color: lightgrey;
}
@media (max-width: 576px) {
  .footer-title {
    flex: 1 1 100%;
  }
  .footer-info {
    text-align: center;
  }
}
