.publish {
  position: relative;
  text-align: left;
}

.h2 {
  margin: 100px 0 40px;
}
.title_header,
.text_header {
  font-size: 16px;
  color: #48535b;
}
.publish_title,
.publish_text {
  width: 50%;
  outline: none;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 6px;
  margin: 10px 0 40px;
}
.post_btn {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
}
