@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
.login-container {
  display: flex;
  align-items: flex-start;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  display: none;
  width: 546px;
  height: 419px;
}
.modal__title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 35px;
}

.modal.visible {
  display: flex;
}

.input {
  border: none;
  width: 80%;
  outline: none;
  border-radius: 6px;
  padding: 10px 12px 10px 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.modal .btn_login {
  margin: 47px auto 15px;
  width: 80%;
  display: block;
}
.modal .register-btn {
  margin: 0 auto 47px;
}
.pass {
  margin-top: 30px;
}
