.ava {
  width: 80px;
}
.dropdown_content a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 15px 15px;
  font-size: 14px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  top: 80 px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown_content a:hover {
  background-color: rgb(0, 60, 255);
  color: white;
}

.dropdown:hover .dropdown_content {
  display: block;
}
